*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: #025157;
}

button {
    color: #fff;
    background-color: #025157;
}

.header {
    margin: 40px 20px 0px 20px;
/* 10px arriba, 3px derecha, 30px abajo, 5px izquierda */
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
  }

.header > * {
     display: inline-block;
     font-size: 16px;
     vertical-align: middle;
     height: 100%;
     line-height: 45px;
 }

body {
    background-color: #ceb9a5;
}

.logo{
    width: 15%;
}

.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}
.menu-item{
    display:inline;
    margin-left: 25px;
    margin-right:25px;
}
.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
}
.actions>*{
    margin-left: 10px;
    margin-right: 10px;
}
.actions a{
    color:#67b54b;
    font-weight: 600;
}
.actions button{
    color:white;
    background-color:#67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
}
p {
    color: #8b8b8bcc;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

li{
    display: inline;
    font-weight: 600;
}
